# IDE files
.idea/

# macOS Finder metadata
.DS_Store

# Keep your Jest config
!jest.config.js

# TypeScript declaration files
*.d.ts

# Node.js dependencies
node_modules/

# YAML files
*.yaml

# Python virtual environment
.venv/

# Python bytecode caches
__pycache__/
**/__pycache__/

# CDK asset staging & output
.cdk.staging/
cdk.out/

